body {
    background-color: rgb(241, 1, 133);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 10px;
}
table {
    background-color: rgb(218, 181, 17);
    text-align: center;
    border: 2px solid rgb(27, 157, 197);
    padding: 10px;
    width: 80%;
    border-collapse: collapse;
    margin: 0 auto;
}
TH,TD{
    BORDER:SOLID 1PX rgb(14, 25, 189);
}